<h2>コメント一覧</h2>

<%= turbo_stream.replace "new_comment" do %>
  <%= render partial:"form", locals: {plan: @plan, comment: @comment} %>
<% end %>

<%= turbo_stream.prepend "comments" do %>
  <%= render @comments %>
<% end %>
